.detalhe-tarefa-container {
  background: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  color: #eee;
  border-radius: 5px;
}

.detalhe-tarefa-container h2 {
  margin-bottom: 5px;
  color: #fdd10a;
}

.voltar-button-container {
  margin-top: 10px;
}
